@media only screen and (max-width: 1199px) {
	.ic-our-activities .ic-card-overlay {
		padding: 20px;
	}
	nav ul li a {
		padding: 19px 10px;
	}
}
@media only screen and (max-width: 992px) {
	.ic-social-nav {
	    padding-bottom: 30px;
	}
	.ic-logo {
	    padding-bottom: 30px;
	}
	.ic-hslider-caption-col {
	    max-width: 500px;
	}
	.ic-hslider-caption-col h1 {
	    font-size: 22px;
	}
	.ic-hslider-caption-col h2 {
	    font-size: 32px;
	}
	.ic-slider .slick-dots {
	    bottom: 30px;
	}
	.ic-hslider-caption-col {
	    left: 40px;
	}
	.ic-welcome img {
		display: inline-block;
	}
	.ic-welcome figure {
		text-align: center;
		margin-bottom: 30px;
	}
	.ic-welcome-caption h2,
	.ic-welcome-caption h3 {
		text-align: center;
	}
	.ic-our-activities .ic-card-overlay {
		padding: 10px;
	}
	.ic-card-overlay h4 {
	    margin-bottom: 15px;
	}
	.ic-card-overlay p {
	    line-height: 20px;
	}
	.ic-single-card h3 {
	    font-size: 14px;
	}
	.ic-portfolio-nav button {
		margin-bottom: 10px;
	}
	.ic-vision {
		margin-bottom: 30px;
	}
	.ic-card {
		width: 33.33%;
	}
	nav ul li a {
		padding: 11px 10px;
	}
	nav ul li.ic-dropdown>a:before {
		top: 22px;
	}
	.ic-course-outline {
		height: auto;
	}
	.ic-course-outline-fig {
		text-align: center;
	}
	.ic-contact-col {
	    margin-bottom:  30px;
	} 
}
@media only screen and (max-width: 768px) {
	section {
		padding-bottom: 30px;
	}
	p {
		margin-bottom: 15px;
		text-align: justify;
	}
	.table-responsive {
		border: none;
	}
	.ic-narrow-screen-tbl .table>tbody>tr>td, 
	.ic-narrow-screen-tbl .table>tbody>tr>th, 
	.ic-narrow-screen-tbl .table>tfoot>tr>td, 
	.ic-narrow-screen-tbl .table>tfoot>tr>th, 
	.ic-narrow-screen-tbl .table>thead>tr>td, 
	.ic-narrow-screen-tbl .table>thead>tr>th {
		padding: 8px;
		white-space: nowrap;
	}
	.ic-class-routine-tbl .table>tbody>tr>td, 
	.ic-class-routine-tbl .table>tbody>tr>th, 
	.ic-class-routine-tbl .table>tfoot>tr>td, 
	.ic-class-routine-tbl .table>tfoot>tr>th, 
	.ic-class-routine-tbl .table>thead>tr>td, 
	.ic-class-routine-tbl .table>thead>tr>th {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ic-class-routine-tbl .table>tbody>tr>th>span {
		position: static;
	}
	.ic-class-routine-tbl.ic-course-entry .table>tbody>tr>th {
		padding-left: 8px;
	}
	.ic-class-routine-tbl .table>tbody>tr>td.ic-download-routine {
		padding-left: 15px;
	}
	.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
		background-color: #009043;
	}
	.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #ed1b23;
	}
	/* font size and margin */
	.ic-welcome-caption h3 {
		font-size: 28px;
	}
	.ic-welcome-caption h2,
	.ic-course-requirements h2,
	.ic-check-result h2 {
		font-size: 26px;
	}
	.ic-welcome-caption h3,
	.ic-oi-single,
	.ic-course-outline-figcaption h2,
	.ic-course-outline-figcaption p,
	.ic-fees-structure>h2,
	.ic-ca-col h2,
	.ic-check-result h2 {
		margin-bottom: 20px;
	}
	.ic-establishment-info h2,
	.ic-rnr-single h2,
	.ic-title h2,
	.ic-course-outline-figcaption h2,
	.ic-fees-structure>h2 {
		font-size: 20px;
	}
	.ic-welcome-caption p,
	.ic-portfolio-nav,
	.ic-news-card,
	.ic-exam-system-table,
	.ic-adminstrative-staff,
	.ic-course-requirements h2,
	.ic-course-requirements p:last-child {
		margin-bottom: 30px;
	}
	.ic-gallery.page .ic-title {
		padding-bottom: 30px;
	}
	.ic-pagination {
		margin: 20px 0px 30px 0;
	}

	/* font size and margin end */
	.ic-nav {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background-color: #009043;
		padding: 0px;
	}
	.slicknav_nav .slicknav_row, 
	.slicknav_nav a {
		transition: all 0.4s;
		margin: 0px;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0px;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		background-color: #19ab5d;
		color: #fff;
	}
	.slicknav_btn {
		background-color: transparent;
	}
	.slicknav_btn .slicknav_icon-bar {
		transition: all 0.4s;
		position: relative;
		opacity: 1;
	}
	.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
		opacity: 0;
	} 
	.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(1) {
	    transform: rotate(45deg);
	    top: 5px;
	} 
	.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
	    transform: rotate(-45deg);
	    top: -5px;
	} 
	.ic-logo {
	    text-align:  center;
	    padding-bottom:  0px;
	}
	.ic-social-nav {
	    text-align:  center;
	}
	.ic-social-nav li a {
	    margin: 10px;
	}
	.ic-hslider-caption-col {
	    max-width: 300px;
	}
	.ic-hslider-caption-col h1 {
	    font-size: 16px;
	    margin-bottom: 15px;
	}
	.ic-hslider-caption-col h2 {
	    font-size: 20px;
	}
	.ic-slider .slick-dots {
	    bottom: 15px;
	}
	.ic-xxs-6 {
		width: 50%;
		float: left;
	}
	.ic-our-activities .ic-xxs-6 {
		margin-bottom: 30px;
	}
	.ic-our-activities .ic-xxs-6 figure img {
		width: 100%;
	}
	.ic-portfolio-items .ic-xxs-6 img,
	.ic-portfolio-home .ic-xxs-6 img {
		width: 100%;
	}
	.ic-top-footer {
		padding: 30px 0px;
	}
	.ic-single-top-ftr h3 {
		padding-bottom: 30px;
	}
	.ic-single-top-ftr {
		margin-bottom: 30px;
	}
	.ic-title {
	    text-align:  center;
	}

	.ic-single-top-ftr h3 h3 {
	    text-align:  center;
	    display:  inline-block;
	}
	.ic-ic-smf-figure {
		position: static;
	}
	.ic-ic-smf-figure {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.ic-ic-smf-figure img {
	    display: inline-block;
	}
	.ic-single-message-figcaption {
		padding-left: 0px;
	}
	.ic-single-message-figcaption p {
		text-align: justify;
	}
	.ic-card {
		width: 50%;
		border: 7.5px solid #fff;
	}
	.ic-card-fig {
		text-align: center;
	}
	.ic-card-fig img {
		display: inline-block;
		width: 100%;
	}
	.ic-banner-caption {
		text-align: center;
	}
	.ic-banner {
		margin-bottom: 40px;
	}
	.ic-fig,.ic-course-info table,
	.ic-rnr-single {
		margin-bottom: 20px;
	}
	.ic-course-outline-fig img {
		display: none;
	}
	.ic-course-outline-figcaption {
	    position:  static;
	    transform: translateY(0);
	    margin-bottom: 30px;
	}
	#urname, #uremail {
		width: 100%;
	}
	.ic-facilities-options,
	.ic-facilities-options:first-child {
		margin-bottom: 30px;
	}
	.ic-bottom-footer p {
		text-align: center;
		padding: 0px 10px;
	}
	.ic-result-form form input, 
	.ic-result-form form select,
	.ic-hsc-result select {
	    width:  100%;
	}

}
@media only screen and (max-width: 568px) {
	.col-xxs-12 {
		width: 100%;
	}
	.ic-top-header {
	    text-align:  center;
	}
	.ic-top-header .text-right a {
	    float:  none;
	    text-align:  center;
	}
	.ic-top-header .col-xxs-12.text-right {
	    text-align:  center;
	}
	.ic-top-header a {
		margin-bottom: 15px;
		display: inline-block;
	}
	.ic-top-header a:first-child:before {
		top: 8px;
	}
	.ic-single-message .col-xxs-12 {
		text-align: center;
	}
	.ic-single-message img {
		display: inline-block;
		margin-bottom: 30px;
	}
	.ic-single-message .ic-title h2 {
		text-align: center;
	}
	.ic-news-card {
		margin-bottom: 30px;
	}
	.ic-portfolio-items .ic-single-card,
	.ic-portfolio-home .ic-single-card {
		margin-bottom: 15px;
	}
	.ic-banner-caption {
		padding: 49px 0px;
	}
}
@media only screen and (max-width: 500px){
	.ic-portfolio-nav button {
		padding: 3px 20px; 
	}
	
}
@media only screen and (max-width: 480px){
	.slick-dotted.slick-slider img {
	    height: 100%;
	}
	.ic-slingle-slider {
	    height: 250px;
	}
	.ic-hslider-caption-col {
	    width: 200px;
	}
	.ic-hslider-caption-col h2 {
	    font-size: 16px;
	}
	.ic-hslider-caption-col h1 {
	    font-size: 14px;
	}
	.ic-hslider-caption-col {
		left: 15px;
	}
	.ic-welcome-caption p {
		text-align: justify;
	}
	.ic-our-activities .ic-xxs-6 {
		margin-bottom: 15px;
	}
	.ic-portfolio-nav button {
		margin: 5px;
	}
	.ic-card {
		width: 100%;
	}
	.ic-course-outline-figcaption a {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0px 0px 15px 0px;
	}
	.ic-banner-caption h1 {
		font-size: 20px;
	}
	.ic-breadcrumb ul li {
		font-size: 14px;
	}
	.ic-course-requirements h2,
	.ic-ca-col h2 {
		text-align: center;
	}
	.ic-pagination ul li a {
		margin: 5px;
	}
}