body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
main {
	max-width: 1920px;
	margin: 0 auto;
}
/* Global style */
*{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
a,a:hover,a:focus {
	text-decoration: none;
	outline: none;
}
a, 
a:focus, 
button:hover, 
button:focus, 
input:focus,
textarea:focus {
	outline: 0;
	box-shadow: none;
}
section {
	padding-bottom: 60px;
}
p {
    margin-bottom: 25px;
}
/*header*/
.slicknav_menu {
	display: none;
}
.ic-top-header {
    background-color: #221e1f;
    padding: 15px 0px;
    color: #fff;
}
.ic-top-header a {
    color: #fff;
    font-size: 14px;
    transition: all 0.4s;
    position: relative;
}
.ic-top-header a:first-child:before {
	position: absolute;
	left: 0;
	top: 3px;
	font: normal normal normal 14px/1 FontAwesome;
}
.ic-top-header a[href*="tel"]:first-child:before {
	content: "\f095";
}
.ic-top-header a[href*="mailto"]:first-child:before {
	content: "\f003";
}
.ic-top-header a[href*="tel"]:first-child,
.ic-top-header a[href*="mailto"] {
	padding-left: 40px;
}
.ic-logo a {
    display: inline-block;
}
.ic-social-nav li {
    display: inline-block;
}
.ic-social-nav li a {
    height: 34px;
    width: 34px;
    display: block;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    background-color: #221e1f;
    color: #fff;
    margin-right: 36px;
    border-radius: 5px;
    transition: all 0.4s;
}
.ic-social-nav li a:hover {
	background-color: #009043;
}
.ic-middle-header {
    padding: 15px 0px;
}
.ic-social-nav {
    position: relative;
    top: 18px;
}
.ic-nav {
    background-color: #009043;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
	color: #fff;
	padding: 19px 15px;
	transition: all 0.4s;
	position: relative;
}
nav ul li:first-child a {
    padding-left: 0px;
}
nav ul li a:hover,
nav ul li.active a {
	color: #c6e4f7;
}
nav ul li a:focus {
	color: #fff;
}
nav ul li.ic-dropdown {
    position: relative;
}
nav ul li.ic-dropdown>a:before,
nav ul li.ic-dropdown>ul>li.ic-dropside>a:before {
	position: absolute;
    content: "\f078";
    right: -2px;
    top: 30px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    transition: all 0.4s;
}
nav ul li.ic-dropdown:hover a:before {
    transform: rotate(-180deg);
}
nav ul li.ic-dropdown>ul {
    position: absolute;
    top: 68px;
    left: 0;
    z-index: 3;
    width: 200px;
    background: #009043;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: center top 0;
    transition: all 0.4s;
}
nav ul li.ic-dropdown>ul>li {
    display:  block;
    border-bottom: 1px solid #19ab5d;
    transition:  all 0.4s;
}

nav ul li.ic-dropdown>ul>li>a {
    padding: 10px 15px;
    display:  block;
}
nav ul li.ic-dropdown>ul>li:hover {
    background-color:  #19ab5d;
}
nav ul li.ic-dropdown>ul>li:hover a {
    color:  #fff;
}
nav ul li.ic-dropdown:hover ul {
    visibility: visible;
    transform: scaleY(1);
}

nav ul li.ic-dropdown>ul>li.ic-dropside {
    position: relative;
}
/*dropdown lebel two*/
nav ul li.ic-dropdown>ul>li.ic-dropside>ul {
    position:  absolute;
    top: 0;
    right: -200px;
    width:  200px;
    background-color:  #009043;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s;
    transform-origin: center left 0;
}
nav ul li.ic-dropdown>ul>li.ic-dropside>ul>li {
    display:  block;
    border-bottom: 1px solid #19ab5d;
    transition:  all 0.4s;
}
nav ul li.ic-dropdown>ul>li.ic-dropside>ul>li>a {
    padding: 12px 15px;
}
nav ul li.ic-dropdown>ul>li.ic-dropside>ul>li:hover {
    background-color:  #19ab5d;
}
nav ul li.ic-dropdown>ul>li.ic-dropside:hover ul {
    visibility: visible;
    transform: scaleX(1);
}
nav ul li.ic-dropdown>ul>li.ic-dropside>a {
    position:  relative;
}
nav ul li.ic-dropdown>ul>li.ic-dropside>a:before {
    transform:  rotate(-90deg);
    right: 20px;
    top: 21px;
}
nav ul li.ic-dropdown>ul>li.ic-dropside:hover a:before {
    transform: rotate(90deg);
}


/*slider*/

.ic-slingle-slider {
    position: relative;
}
.ic-slingle-slider figcaption {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.ic-hslider-caption {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 15px;
}
.ic-hslider-caption-col {
    max-width: 900px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ic-hslider-caption-col h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
}
.ic-hslider-caption-col h2 {
    font-size: 48px;
    font-weight: 700;
    color: #009043;
}
.ic-slider .slick-dots li {
    height: 22px;
    width: 22px;
    border: 1px solid #009043;
    border-radius: 5px;
}
.ic-slider .slick-dots li button {
    height: 100%;
    width: 100%;
}
.ic-slider .slick-dots li button:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background: #009043;
    top: 4px;
    left: 4px;
    border-radius: 2px;
    opacity: 1;
}
.ic-slider .slick-dots li.slick-active {
	border-color: #ed1b23;
}
.ic-slider .slick-dots li.slick-active button:before {
	background-color: #ed1b23;
}
.ic-slider .slick-dots {
    bottom: 60px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0px;
}
/*welcome*/
.ic-welcome-caption h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ic-welcome-caption h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ed1b23;
    margin-bottom: 50px;
}
.ic-welcome-caption p {
    line-height: 30px;
    margin-bottom: 55px;
}
.ic-welcome-caption p:last-child {
    margin-bottom: 0px;
}
.ic-single-card {
	overflow: hidden;
	position: relative;
}
.ic-single-card figure {
    position: relative;
    display: block;
    clear: both;
}
.ic-single-card figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(237, 27, 35, 0.7);
    padding: 16.5px 0px;
    transition: all 0.4s;
}
.ic-single-card h3 {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.ic-card-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 144, 67, 0.7);
    color: #fff;
    text-align: center;
    padding: 70px 40px;
    transition: all 0.4s;
    opacity: 0;
}
.ic-card-overlay h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 29px;
}
.ic-card-overlay p {
    line-height: 30px;
}
.ic-single-card:hover figcaption {
	/*bottom: -100%;*/
} 
.ic-single-card:hover .ic-card-overlay {
	opacity: 1;
}
.ic-title h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 34px;
}

.ic-message span {
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.ic-message span:last-of-type {
	margin-bottom: 20px;
}
.ic-message p {
    color: #221e1f;
    margin-bottom: 20px;
}
a.ic-link {
	font-weight: 700;
	color: #221e1f;
	position: relative;
	transition: all 0.4s;
}
a.ic-link:before {
	position: absolute;
	content: "\f178";
    right: -20px;
    top: 4px;
	transition: all 0.4s;
	font: normal normal normal 14px/1 FontAwesome;
}
a.ic-link:hover:before {
	right: -25px;
}
a.ic-link:hover,
a.ic-link:hover:before {
	color: #ed1b23;
}

.ic-single-message {
    margin-bottom: 50px;
}
.ic-news-card .ic-title {
    text-align: center;
    margin: 0px;
    background-color: #009043;
    color: #fff;
    padding: 12px 0px;
    margin-bottom: 30px;
}
.ic-news-card.notice-board {
	border-color: #ed1b23;
}
.ic-news-card.notice-board .ic-title {
    background-color: #ed1b23;

}
.ic-news-card .ic-title h2 {
    padding: 0px;
}
.ic-news-card {
    border: 1px solid #009043;
}
.ic-ln-col {
    padding: 0px 40px;
}
.ic-ln-col a {
    color: #221e1f;
    position: relative;
    display: block;
    margin-bottom: 15px;
    transition: all 0.4s;
}
.ic-ln-col a:after {
    position: absolute;
    content: "";
    left: -30px;
    top: 8px;
    height: 15px;
    width: 15px;
    background-color: #221e1f;
    transition: all 0.4s;
}
.ic-ln-col a:hover {
	text-decoration: underline;
	color: #009043;
}
.notice-col a:hover {
	text-decoration: underline;
	color: #ed1b23;
}
.ic-ln-col.notice-col a:hover:after {
	background-color: #ed1b23;
}
.ic-ln-col a:hover:after {
	background-color: #009043;
}
.ic-news-card {
	margin-bottom: 60px;
}
/*gallery*/
.ic-gallery {
	padding-bottom: 30px;
}
.ic-portfolio-lead {
    max-width:  600px;
    margin:  0 auto;
    text-align:  center;
    margin-bottom: 40px;
}
.ic-portfolio-nav {
	text-align: center;
	margin-bottom: 60px;
}
.ic-portfolio-nav button {
    background-color: transparent;
    border: 1px solid #009043;
    color: #009043;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 40px;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    transition: all 0.4s;
}
.ic-portfolio-nav button:hover {
	background-color: #009043;
	color: #fff;
}
.ic-portfolio-nav button.mixitup-control-active {
	background-color: #009043;
	color: #fff;
}
.ic-gallery .ic-title h2 {
	font-size: 30px;
	font-weight: 700;
}
.ic-portfolio-items .ic-single-card,
.ic-portfolio-home .ic-single-card {
	margin-bottom: 30px;
    outline: none;
}
.ic-portfolio-items .ic-single-card figure img,
.ic-portfolio-home .ic-single-card figure img,
.ic-portfolio-home .ic-card-overlay,
.ic-portfolio-items .ic-card-overlay {
	border-radius: 15px;
}
.ic-portfolio-items .ic-card-overlay,
.ic-portfolio-home .ic-card-overlay {
	padding: 0px;
}
.ic-single-card .ic-card-overlay a {
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all 0.8s;
    
}
.ic-single-card:hover .ic-card-overlay a {
    top: 50%;
}
.ic-single-card:hover .ic-card-overlay {
	background-color: rgba(0, 144, 67, 0.6);
}
.ic-single-card:hover .ic-card-overlay a {
	/*top: 50%;*/
}
/*footer*/
.ic-top-footer {
    background-color: #221e1f;
    color: #fff;
    padding: 55px 0px;
}
.ic-single-top-ftr h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 50px;
}
.ic-single-contact-info span {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 24px;
}
.ic-single-contact-info {
    position: relative;
    margin-bottom: 13px;
}
.ic-single-contact-info p {
    padding-left: 40px;
}
.ic-single-contact-info p a {
    color: #fff;
    transition: all 0.4s;
}
.ic-single-top-ftr li a {
    color: #fff;
    display: block;
    padding-bottom: 10px;
    transition: all 0.4s;
    display: inline-block;
}
.ic-single-top-ftr li a:hover,
.ic-single-contact-info p a:hover,
.ic-top-header a:hover {
    color: #ed1b23;
    text-decoration: underline;
}
.ic-contact-map {
    height: 225px;
}
.ic-contact-map iframe {
    width: 100%;
    height: 100%;
}
.ic-bottom-footer {
    background-color: #009043;
    color: #fff;
    padding: 30px 0px;
}
.ic-bottom-footer  a {
    position:  relative;
    top: 10px;
    display: inline-block;
}
.ic-bottom-footer a svg {
    height: 30px;
}

/*banner style*/
.ic-banner {
    background-image: url('../images/banner/placeholder_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 60px;
}
.ic-banner:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 30, 31, 0.6)
}
.ic-banner-caption {
    position: relative;
    padding: 119px 0px;
    color: #fff;
    z-index: 1;
}
.ic-banner-caption-inverse {
    padding: 30px 0px;
    color: #000000;
}
.ic-banner-caption h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    line-height: 30px;
    font-weight: 700;
}
.ic-banner-caption-inverse h1 {
    color: #000000;
}
.ic-breadcrumb ul li {
    display: inline-block;
    padding: 0px 3px;
    text-transform: capitalize;
}
.ic-breadcrumb ul li a {
    color: #fff;
}
.ic-breadcrumb-inverse ul li a {
    color: #000000;
}
.ic-breadcrumb ul li:first-child {
    padding-left: 0px;
}
/*chairman's page style*/
.ic-single-message-figure {
    float: left;
    /*margin-right: 30px;*/
    margin-bottom: 20px;
}
.ic-achivements {
    margin-bottom: 22px;
}
.ic-achivements ul li span,
.ic-facilities-options ul li span {
    position: absolute;
    left: 0;
    top: 0;
}
.ic-achivements ul li,
.ic-facilities-options ul li {
    position: relative;
    padding-left: 30px;
}
.ic-single-message-figcap {
    position: relative;
}

.ic-ic-smf-figure {
    /*position: absolute;*/
    top: 0;
    left: 0;
}

.ic-single-message-figcaption {
    padding-left: 400px;
}

.ic-collage-mv strong {
    text-transform: uppercase;
    color: #009043;
    font-weight: 700;
    display: block;
}

.ic-single-message-figcaption p {
    margin-bottom: 25px;
}
.ic-message-detail p {
    margin-bottom: 22px;
}
.ic-message-footer strong span {
    display: block;
}
/*at a glance page*/
.ic-fig {
    margin-bottom: 38px;
}
.ic-establishment-info h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.ic-establishment-info strong {
    font-size: 18px;
    display: block;
    margin-bottom: 26px;
}

.ic-establishment-info strong span {
    display: block;
    line-height: 30px;
}
.ic-establishment-info p {
    display: block;
    margin: 0px;
}

.ic-establishment-info p strong {
    display: inline-block;
    margin-bottom: 0px;
}
.ic-course-info {
    margin-bottom: 22px;
}
.ic-course-info table {
    margin-bottom: 0px;
}
.ic-vision h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
.ic-course-info .table>tbody>tr>td, 
.ic-course-info .table>tbody>tr>th, 
.ic-course-info .table>tfoot>tr>td, 
.ic-course-info .table>tfoot>tr>th, 
.ic-course-info .table>thead>tr>td, 
.ic-course-info .table>thead>tr>th {
    border-top: none;
    padding: 0px;
    line-height: 36px;
}
.ic-establishment-info {
    margin-bottom: 12px;
}
/*Governance page*/
.ic-governance .container,
.ic-teachers .container,
.ic-adminstrative-staff .container,
.ic-other-staff .container{
    padding: 0px;
}
.ic-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.ic-card-caption span {
    display: block;
    text-align: center;
    font-weight: 700;
}
.ic-card-fig img {
    margin-bottom: 20px;
}
.ic-card {
    width: 25%;
    border: 15px solid #fff;
}
/*History page*/
.ic-history img {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
/*gallery page*/
.ic-gallery.page .ic-title { 
    padding-bottom: 56px;
}
.ic-gallery.page .ic-title h2 {
    padding-bottom: 0px;
}
.ic-pagination {
    text-align: center;
    margin: 20px 0px 74px 0;
}

.ic-pagination ul li {
    display: inline-block;
}

.ic-pagination ul li a {
    display: block;
    padding: 5px 8.09px;
    font-size: 24px;
    border: 1px solid #009043;
    margin: 10px;
    height: 40px;
    width: 40px;
    color: #009043;
    transition: all 0.4s;
    border-radius: 5px;
}

.ic-pagination ul li a:hover,
.ic-pagination ul li.ic-pagination-active a {
    background-color: #009043;
    color: #fff;
}

/*examination system page style*/
.ic-exam-system-table {
    clear: both;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 60px;
}
.table-responsive {
    overflow-x: inherit;
}
.ic-exam-system-table table tr th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #009043;
    color: #fff;
    padding: 19px 0px;
}
.ic-exam-system-table table tr td {
    font-weight: 600;
    padding: 14px 0px;
}
.ic-exam-system-table .table-bordered>tbody>tr>td, 
.ic-exam-system-table .table-bordered>tbody>tr>th, 
.ic-exam-system-table .table-bordered>tfoot>tr>td, 
.ic-exam-system-table .table-bordered>tfoot>tr>th, 
.ic-exam-system-table .table-bordered>thead>tr>td, 
.ic-exam-system-table .table-bordered>thead>tr>th {
    border-color: #009043;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.ic-oi-single {
    margin-bottom: 40px;
}
.ic-oi-single h2 {
    font-size:  24px;
    font-weight:  bold;
    line-height: 36px;
}
.ic-exam-system-table table {
    margin-bottom: 0px;
}
.ic-ex-inint p {
    font-weight: 600;
}
.ic-rnr-single h2 {
    font-size:  24px;
    font-weight:  700;
    text-transform:  uppercase;
    margin-bottom: 5px;
}
.ic-rnr-single {
    margin-bottom: 50px;
}
.ic-rnr-single ul li {
    font-weight:  700;
}
.ic-rnr-single span {
    font-size:  16px;
    font-weight:  700;
    margin-bottom: 0px;
}
/*adminstrative staff page style*/
.ic-adminstrative-staff {
    margin-bottom:  60px;
}
/*bba course outline page style*/
.ic-course-outline-fig {
    position:  relative;
    display: table-cell;
    vertical-align:  middle;
}
.ic-course-outline-figcaption {
    position:  absolute;
    top: 50%;
    left:  0;
    transform:  translateY(-50%);
}
.ic-course-outline {
    height:  914px;
    display:  table;
    width:  100%;
}
.ic-course-outline-figcaption h2 {
    font-size:  30px;
    font-weight: 700;
    margin-bottom:  50px;
}
.ic-course-outline-figcaption p {
    margin-bottom:  50px;
}
.ic-course-outline-figcaption a {
    display:  inline-block;
    border-radius:  10px;
    padding: 9px 59px;
    margin: 10px;
}
.ic-course-outline-figcaption a:before {
    position:  static;
    content:  "";
}
.ic-course-outline-figcaption a.course-outline {
    border:  1px solid #009043;   
}
/*.ic-course-outline-figcaption a.course-outline:hover {
    background-color: #009043;
    color: #fff;
}*/
.ic-course-outline-figcaption a.course-download {
    border:  1px solid #ed1b23;   
}
/*.ic-course-outline-figcaption a.course-download:hover {
    background-color: #ed1b23;
    color: #fff;
}*/
.ic-btn {
    position: relative;
    z-index: 1;
    border: 1px solid #009043;
    transition: all 0.4s;
}
.ic-btn:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s;
    border-radius: 10px;
}
.ic-btn:hover:after{
    width: 100%;
    background-color: #009043;
}
.ic-btn.course-download:hover:after {
    background-color: #ed1b23;
}
.ic-btn.course-outline:hover:after {
    background-color: #009043;
    border-color: #009043;
}
.ic-btn:hover {
    color: #fff !important;
    border-radius: 13px;
}

/*course entry requirement page style*/
.ic-course-requirements h2,
.ic-check-result h2,
.ic-hsc-result h3,
.ic-ca-col h2 {
    text-transform:  uppercase;
    font-size:  30px;
    font-weight:  700;
    margin-bottom:  48px;
}
.ic-course-requirements p:last-child {
    margin-bottom: 60px;
}
/*
.ic-ce-table {
    display:  table;
    width:  100%;
    border: 1px solid #009043;
}
.ic-ce-sno {
    display: table-cell;
}
.ic-ce-detail {
    display:  table-cell;
}
.ic-ce-serial-single:first-child,
.ic-ce-single-detail:first-child,
.ic-rb-single:first-child {
    background-color: #009043;
    color: #fff;
    height: 100px;
}
.ic-ce-serial-single:last-child,
.ic-ce-single-detail:last-child {
    padding-bottom: 40px;
}
.ic-ce-serial-single:nth-child(2),
.ic-ce-single-detail:nth-child(2),
.ic-rb-single:nth-child(2) {
    padding-top: 40px;
}
.ic-ce-serial-single:first-child,
.ic-ce-single-detail:first-child {
    text-align: center;
    padding: 15px 60px;
}
.ic-ce-serial-single,
.ic-ce-single-detail,
.ic-rb-single {
    text-align: center;
    font-weight: 700;
    padding: 15px 0px;
}
.ic-ce-single-detail {
    text-align: left;
    padding-left: 100px;
}
.ic-ce-serial-single {
    border-right: 1px solid #009043;
}
*/
.ic-course-entry .table>tbody>tr>td, 
.ic-course-entry .table>tbody>tr>th, 
.ic-course-entry .table>tfoot>tr>td, 
.ic-course-entry .table>tfoot>tr>th, 
.ic-course-entry .table>thead>tr>td, 
.ic-course-entry .table>thead>tr>th {
    border-top: 0px;
    font-weight: 700;
    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.ic-course-entry .table>tbody>tr>th {
    text-align: center;
    background-color: #009043;
    color: #fff;
}
.ic-course-entry .table {
    border: 1px solid #009043;
}
.ic-course-entry .table>tbody>tr> .ic-s-no {
    border-right: 1px solid #009043;
    text-align: center;
    min-width: 170px;
    padding-left: 0px;
}
.ic-course-entry .table>tbody>tr>.ic-s-no.ces {
    padding-left: 55px;
    padding-right: 55px;
}
/*fees structure page style*/
.ic-fees-structure>h2 {
    font-size:  24px;
    font-weight:  700;
    margin-bottom: 40px;
}

/*class routine page style*/
.ic-class-routine-tbl .ic-ce-serial-single:first-child, 
.ic-class-routine-tbl .ic-ce-single-detail:first-child,
.ic-class-routine-tbl .ic-rb-single:first-child {
    padding: 33px 60px;
}
.ic-class-routine-tbl .ic-ce-single-detail {
    padding-left: 30px;
}
.ic-btn-title {
    opacity: 0;
}
.ic-routin-btn a {
    color: #221e1f;
    font-weight: 600;
    display: inline-block;
    padding: 0px 20px;
    transition:  all 0.4s;
}
.ic-routin-btn a:hover {
    color:  #009043;
    text-decoration:  underline;
}
.ic-ce-single-detail.ic-detail {
    border-right: 1px solid #009043;
}
.ic-class-routine-tbl .ic-ce-serial-single:first-child{
    padding-left: 0px;
    padding-right: 0px;
}
.ic-class-routine-tbl.ic-course-entry .table>tbody>tr>td, 
.ic-class-routine-tbl.ic-course-entry .table>tbody>tr>th, 
.ic-class-routine-tbl.ic-course-entry .table>tfoot>tr>td, 
.ic-class-routine-tbl.ic-course-entry .table>tfoot>tr>th, 
.ic-class-routine-tbl.ic-course-entry .table>thead>tr>td, 
.ic-class-routine-tbl.ic-course-entry .table>thead>tr>th  {
    padding-left: 0px;
}
.ic-class-routine-tbl .table>tbody>tr> .ic-s-no {
    min-width: auto;
    width: 70px;
}
.ic-class-routine-tbl .table>tbody>tr> .ic-course-title {
    padding-left: 30px !important;
    border-right: 1px solid #009043;
}
.ic-class-routine-tbl .table>tbody>tr>td.ic-download-routine {
    padding-left: 30px;
}
.ic-class-routine-tbl .table>tbody>tr>td>a {
    color: #221e1f;
    font-weight: 600;
    display: inline-block;
    transition: all 0.4s;
}
.ic-class-routine-tbl .table>tbody>tr>td>a:hover {
    color: #009043;
    text-decoration: underline;
}
.ic-class-routine-tbl .table>tbody>tr>th.ic-rsn {
    width: auto;
}
.ic-class-routine-tbl .table>tbody>tr>th {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ic-class-routine-tbl .table>tbody>tr>th>span {
    position: relative;
    top: 12px;
}

/*check result page style*/
.ic-check-result h2,
.ic-hsc-result h3 {
    text-transform: capitalize;
}
.ic-result-form {
    margin-bottom: 60px;
}
.ic-result-form form input,
.ic-result-form form select,
.ic-hsc-result select {
    width: 50%;
    border: 1px solid #989696;
    padding: 8px 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    height: 50px;
    outline: none;
    transition: all 0.4s;
}
.ic-result-form form input:focus,
.ic-result-form form select:focus,
.ic-hsc-result select:focus,
.ic-contact-tomail form input:focus,
.ic-contact-tomail form textarea:focus {
    border-color: rgba(0, 144, 67, 0.35);
    box-shadow: 0px 0px 6px rgba(0, 144, 67, 0.2);
}
.ic-result-form form select,
.ic-hsc-result select {
    background-image: url('../images/select_arrow.png');
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 54%;
    background-size: 12px 7px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
.ic-result-form button,
.ic-hsc-result button {
    display: block;
    font-weight: bold;
    color: #009043;
    padding: 9px 74px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #009043;
    font-size: 16px;
}
.ic-hsc-result button {
    border-color: #77b7e0;
    color: #77b7e0;
}
.ic-hsc-result .ic-btn:after {
    background-color: #77b7e0 !important;
    color: #fff;
}
.ic-hsc-result {
    margin-bottom: 60px;
}
/*facilities page style*/
.ic-collage-facilities h2 {
    font-size: 30px;
}
.ic-facilities-options:first-child {
    margin-bottom:  60px;
}
/*collage achivement page style*/
.ic-c-achivement-tbl {
    text-align:  center;
    border:  1px solid #009043;
}
.ic-c-achivement-tbl table tr th {
    text-align:  center;
}
.ic-c-achivement-tbl h3 {
    font-size:  24px;
    color:  #009043;
    text-transform:  uppercase;
    font-weight:  700;
}
.ic-c-achivement-tbl h3 a {
    display:  block;
    padding:  12px 0px;
}
.ic-c-achivement-tbl table tr td {
    border:  none;
}
.ic-c-achivement-tbl table tr td {
    border-right: 1px solid #009043;
    font-weight: 700;
    padding: 10px;
}
.ic-c-achivement-tbl table tr th {
    border-right:  1px solid #009043;
    background-color: #009043;
    color: #fff;
    font-weight: 700;
    padding: 13px 10px;
}
.ic-c-achivement-tbl table tr td:last-child,
.ic-c-achivement-tbl table tr th:last-child {
    border-right: none;
}
.ic-c-achivement-tbl table {
    margin-bottom:  0px;
}
.panel-group .panel.ic-c-achivement-tbl {
    margin-bottom: 40px;
    margin-top: 0px;
}
.panel-group .panel.ic-c-achivement-tbl:last-child {
    margin-bottom: 0px;
}
.ic-c-achivement-tbl .panel-body {
    padding:  0px;
}
.ic-c-achivement-tbl .panel-heading {
    padding:  0px;
    background-color: transparent;
}
.ic-c-achivement-tbl {
    margin-bottom:  30px;
}
.ic-c-achivement-tbl .panel {
    margin-bottom:  30px;
}
.panel-group .ic-c-achivement-tbl .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

/*contact us page style*/
.ic-contact-col .ic-title h2 {
    text-transform:  uppercase;
}
.ic-contact-log a {
    display:  inline-block;
}
.ic-contact-address address {
    font-weight:  700;
    margin-bottom:  0px;
}
.ic-contact-address {
    margin-bottom: 26px;
}
.ic-contact-log {
    margin-bottom:  25px;
}
.ic-single-contact h3 {
    text-transform:  uppercase;
    font-weight:  700;
    font-size:  16px;
    padding-bottom: 19px;
    position: relative;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.ic-single-contact.land-phone h3 {
    background-size: 23px 17px;
}
.ic-single-contact.cell-phone h3 {
    background-size: 17px 22px;
}
.ic-single-contact.mail h3 {
    padding-left: 0px;
}
.ic-single-contact  a {
    display:  inline-block;
    font-weight:  bold;
    color:  #221e1f;
    transition: all 0.4s;
}
.ic-single-contact {
    margin-bottom:  25px;
}
.ic-single-contact:last-child {
    margin-bottom:  0px;
}
.ic-single-contact  a[href*="mailto"],
.ic-single-contact  a:hover {
    color: #77b7e0;
    text-decoration: underline;
}
.ic-contact-tomail form input,
.ic-contact-tomail form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.4s;
    margin-bottom: 30px;
}
.ic-contact-tomail form input {
    height: 50px;
    border: 1px solid #221e1f;
}
#urname,
#uremail {
    width: 47%
}
#uremail {
    float: right;
}
.ic-contact-tomail .ic-btn {
    padding: 9px 51px;
    border-radius:  10px;
    background-color:  #221e1f;
    color: #fff;
    border-color:  #221e1f;
    outline:  none;
}
.ic-contact-tomail .ic-btn:hover {
    border-radius: 13px;
    border-color: #009043;
}
.portfolio-hbtn {
    margin: 30px 0px;
}
.portfolio.ic-btn {
    padding: 12px 70px;
    color: #221e1f;
    text-transform: uppercase;
    border-radius: 15px;
    display: inline-block;
}
.portfolio.ic-btn:after {
    left: 49.9%;
}

.no_button_style{
    border: none;
    background-color: transparent;
    font-weight: 600;
}

/* global button*/
a.ic-gbtn {
    display: inline-block;
    border-radius: 10px;
    padding: 9px 59px;
    margin: 10px;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    border: 1px solid;
    position: relative;
    z-index: 1;
    border: 1px solid #009043;
}
a.ic-gbtn:after {
    position: absolute;
    content: "";
    left: 50%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    width: 0px;
    height: 100%;
    background-color: #009043;
    border-color: #009043;
    transition: 0.4s;
    border-radius: 10px;
}
a.ic-gbtn:hover:after {
    width: 100%;
}
a.ic-gbtn:hover {
    color: #fff;
}
a.ic-gbtn.download{
    border: 1px solid red;
}
a.ic-gbtn.download:after {
    background: red;
    border-color: red;
}

*/*March 6, 2018 For Latest News and Marquee*/
.ic-slider-wrapper,
.ic-ltn {
    padding-bottom: 30px;
}
.ic-ltn h2 {
    color: #ed1b23;
}
.ic-ltn marquee {
    font-size: 18px;
    color: #009043;
}
.ic-notice-gallery .ic-single-card {
    padding: 0px 15px;
}
.ic-notice-gallery .ic-single-card figure {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.ic-notice-gallery .ic-single-card figure a {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ic-ltn-col {
    display:  inline-block;
    float:  left;
}
.ic-ltn-col.title {
    width: 18%;
    padding-left: 15px;
}
.ic-ltn-col.ic-marque {
    width:  78%;
    padding-right: 15px;
}
@media only screen and (max-width: 1199px) {
    .ic-ltn-col.ic-marque {
        width: 75%;
    }
    .ic-ltn-col.title {
        width: 25%;
    }
}
@media only screen and (max-width: 1199px) {
    .ic-ltn-col.ic-marque {
        width: 65%;
    }
    .ic-ltn-col.title {
        width: 35%;
    }
}
@media only screen and (max-width: 600px) {
    .ic-ltn-col.title {
        width: 100%;
        margin-bottom: 15px;
    }
    .ic-ltn-col.ic-marque {
        width: 100%;
        padding: 0px 15px;
    }
}